<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission7</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <body>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <span class="col navbar-brand">BOOKSTORE</span>
                    <div class="col-6 text-right">
                        <vc:shopping-cart-summary></vc:shopping-cart-summary>
                    </div>
                </div>
            </div>
        </div>
                <div class="row m-1 p-1">

<<<<<<< Updated upstream
            <div class="col-3"></div>
            <div class="col-6">
                @RenderBody()
            </div>
        </div>
    </body>
=======
                    <div id="types" class="col-3">
                        <vc:types></vc:types>
                    </div>

                    <div class="col-9">
                        @RenderBody()
                    </div>
                </div>
</body>
>>>>>>> Stashed changes
</body>
</html>
